<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>

<body>
<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light py-5" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/profile" class="nav-link link-dark">
                    User info
                </a>
            </li>
            <li>
                <a href="/tasks" class="nav-link link-dark">
                    Tasks
                </a>
            </li>
            <li>
                <a href="/projects" class="nav-link active">
                    Projects
                </a>
            </li>
            <li>
                <a href="/users" class="nav-link link-dark">
                    Users
                </a>
            </li>
        </ul>
    </div>

    <div class="col-lg-9 py-5 px-4">
        <div class="col-lg-10">
            <h4>Projects</h4>
            <div class="py-2">
                <table class="table table-striped table-hover">
                    <tr>
                        <td class="fw-bold">Name</td>
                        <td class="fw-bold">Manager</td>
                        <td class="fw-bold">Strarted</td>
                    </tr>
                    <tr th:each="project : ${projects}">
                        <td>
                            <a th:href="@{/projects/{id}(id = ${project.getId()})}" class="link-primary" th:text="${project.getName()}">project name</a>
                        </td>
                        <td th:text="${project.getPerson().username} +'('
                        + ${project.getPerson().firstName} + ' ' + ${project.getPerson().lastName} + ')'">manager</td>
                        <td th:text="${project.getStart()}">date</td>
                    </tr>
                </table>
            </div>
            <form action="/projects/new"  >
                <input type="submit" value="Create new project" class="btn btn-primary">
            </form>

        </div>
    </div>
</div>
</body>

</html>